<a [routerLink]="['courses', 'django-part1']">
  <div class="p-3 transition duration-150 cursor-pointer hover:-translate-y-1">
    <div>
      <img
        src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/KHTdHnlEQsy8RfIAl4Mm"
      />
    </div>
    <div class="mt-2">
      <h1 class="text-lg font-semibold">The Ultimate Django Series: Part 1</h1>
      <p class="text-sm text-gray-600 line-clamp-3">
        Master the Fundamentals of Web Development with Python and Django 3.2+
      </p>
    </div>
  </div>
</a>
